<%include partials/headerNoLog%>

		<div class="container mt-5">
			<%if(message.length!=0){%>
			<div class="alert alert-danger" role="alert"><%= message %></div>
			<%}%>
			<ul class="list-group">

				<%if(result.length==0){%>
					<h2>EMPTY</h2>
				<%}else{%>
					<h2>You have:</h2>
					<% result.forEach(function(r){ %>
						<li class="list-group-item row">
							<form class="form-inline" method='POST'>
								  <div class="form-group">
								    <a style="width: 5rem;" href="/product/<%=r.proName%>"><%=r.proName%></a>
								    <input style="width: 3rem;" type="number" class="ml-5 mr-3 form-control" name="getValue" value="<%=r.Quantity%>" style="max-width: 4.0rem;">
								    <label style="width: 5rem;" class="ml-3 mr-3"><%=r.price%></label>
								  </div>
								  <button type="submit" formaction='/updateCart/<%=r.proName%>' class="btn btn-primary" style="width: 5rem;">update</button>
								</form>
						</li>
					<%});%>
				<%}%>
			</ul>
			<div><h3 style="text-align:right">Total is: <%=totalprice%></h3></div>
			<div style="text-align:right"><a class="btn btn-primary" href="/buyAll" role="button">Check Out</a></div>
		</div>
		<!--<button type="submit" formaction='/cartCheckOut>' class="btn btn-primary">CheckOut</button>-->
		

</body>
</html>